.ads-from{
    margin-top: 50px;
    margin-right: 20px;
    width: 700px;

}
label{
   margin-top: 10px;
}
.btn-primary{
    margin-top: 20px;
}
.dropdown{
    margin-top: 20px;
    margin-bottom: 20px;
}